body {
    font-family: 'Nunito', sans-serif;

}

.prefetch {
    width: 1px !important;
    height: 1px !important;
    position: absolute;
    left: -9999px !important;
    top: -9999px !important;
}

#bordering-countries {
    max-width: 65%;
    text-align: left;
    border: 1px solid white;
    border-radius: 16px;
    margin: auto;
    padding: 10px;
    margin-bottom: 30px;
    padding-bottom: 0;
}

#bordering-countries p {
    padding-left: 128px;
    max-height: 80px;
    cursor: pointer;
}

#bordering-countries legend {
    text-align: center;
    width: auto;
    padding: 0 10px 0 10px;
}

#bordering-countries p:hover {
    color: rgb(117, 207, 240);
    background-size: 100%;
    background: linear-gradient(90deg, rgba(10, 139, 163, 1) 0%, rgba(24, 189, 186, 1) 48%, rgba(36, 187, 217, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#bordering-countries img {
    width: 60px;
}

#darkMap {
    background-image: url("../img/dark-map.jpg");
    opacity: 0.9;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    padding-top: 15%;
    transition: all 1s ease;
}


#darkMapBigText {

    width: 571px;
    height: 39px;
    text-shadow: 9px 6px 6px rgb(0, 0, 0);
    color: #ffffff;
    font-family: "Allerta";
    font-weight: 400;
    font-size: 36px;
    margin: auto;
}

.darkMapSmallText {
    text-shadow: 9px 15px 6px rgb(0, 0, 0);
    color: #ffffff;
    font-family: "Allerta";
    font-weight: 300;
    font-size: 26px;
    margin: auto;
    margin-bottom: 10px;
}

#countrySelect {

    width: 829px;
    height: 50px;
    padding: 4px 8px 4px 8px;
    background: #ebebeb;
    color: #232323;
    border-color: #232323;
    border-width: 1px;
    border-style: solid;
    border-radius: 25px 25px 25px 25px;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    outline: none !important;
}


#countrySelectButton {
    margin-left: 25px;
    width: 164px;
    height: 46px;
    padding: 0px 10px 0px 10px;
    background: #ebebeb;
    color: #232323;
    border-color: #232323;
    border-width: 1px;
    border-style: solid;
    border-radius: 23px 23px 23px 23px;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    outline: none !important;
}

.topNav {
    height: 90px !important;
    padding-top: 0px !important;
    z-index: 1000;
    position: absolute;
    width: calc(100vw - 10px);
    margin: 5px;
    border-radius: 10px;
}

.topNav h1,
.topNav p {
    display: none;
}

.topNav #arrowDown {
    display: block;
    text-align: center;
    margin-top: 7px;
}

#arrowDown {
    color: white;
    display: none;
    font-size: 20px;
    cursor: pointer;
}

#map {
    height: 100vh;
    max-height: 100%;
    width: 100vw;
    max-width: 100%;
    display: none;
}

#infoModal {
    background: url("../img/lighter-dark-map.jpg");
    color: white;
    box-shadow: 0 1px 15px rgba(0, 0, 0, .04), 0 1px 6px rgba(0, 0, 0, .04);
    position: absolute;
    left: 5px;
    top: 110px;
    z-index: 1000;
    height: 85vh;
    overflow-y: auto;
    border-radius: 15px;
    text-align: center;
    scroll-behavior: smooth;
}

#arrowUp {
    position: sticky;
    top: calc(100% - 65px);
    text-align: right;
}

#arrowUp a {
    text-decoration: none;
    position: sticky;
    right: 10px;
    color: white;
    font-size: 35px;
    text-shadow: 0 0 5px grey;
}

.black-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    background-color: #F5F5F5;
}

.black-scroll::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.black-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #3d3c3a;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.flip-in-hor-bottom {
    -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

//* ----------------------------------------------
* Generated by Animista on 2020-12-12 12:40:25 * Licensed under FreeBSD License. * See http: //animista.net/license for more info. 
* w: http: //animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-hor-bottom {
    0% {
        -webkit-transform: rotateX(80deg);
        transform: rotateX(80deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
}

@keyframes flip-in-hor-bottom {
    0% {
        -webkit-transform: rotateX(80deg);
        transform: rotateX(80deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
}



#closeIcon {
    padding-top: 5px;
    float: right;
    font-size: 25px;
    cursor: pointer;
}

#closeIcon:hover {
    color: #8c8e91;
}

.flip-out-hor-top {
    -webkit-animation: flip-out-hor-top 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: flip-out-hor-top 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-12 12:11:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-out-hor-top
 * ----------------------------------------
 */
@-webkit-keyframes flip-out-hor-top {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotateX(70deg);
        transform: rotateX(70deg);
        opacity: 0;
    }
}

@keyframes flip-out-hor-top {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotateX(70deg);
        transform: rotateX(70deg);
        opacity: 0;
    }
}


#countryName {
    text-align: center;
    font-size: 45px;

}

#flag {
    width: 200px;
    margin-bottom: 15px;
    box-shadow: 0 0 8px grey;
}

.titleIcons {
    font-size: 30px;
    color: rgb(117, 207, 240);
}

.title {
    text-align: center;
    color: rgb(117, 207, 240);
    width: auto;
    font-weight: bold;
    padding: 0 15px 0 15px;
    font-size: 35px;
    background-clip: text;
    text-fill-color: transparent;
    background-size: 100%;
    background: linear-gradient(90deg, rgba(10, 139, 163, 1) 0%, rgba(24, 189, 186, 1) 48%, rgba(36, 187, 217, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.section {
    font-size: 22px;
    border: 1px inset white;
    border-radius: 15px;
    padding-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 13px black;
}

.section span {
    font-size: 18px;
}

#todayWeatherCard {
    margin-left: 15px;
}

.weatherCard {
    display: inline-block;
    height: 275px;
    width: 120px;
    float: left;
    padding: 8px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px;
    background: linear-gradient(90deg, rgba(0, 73, 87, 1) 0%, rgba(74, 184, 182, 1) 48%, rgba(56, 166, 189, 1) 100%);
    margin-left: -29px;
    transition: transform 0.2s ease;
}

.weatherCard:hover {
    z-index: 5;
    transform: scale(1.2);
    cursor: default;

}

#weatherDaySeparator {
    display: none;
}

#weatherImage {
    width: 100px;

}

#weatherDescription {
    text-transform: capitalize;
}

#temperature {
    color: #fcce42;
    font-size: 25px;
}

#weatherCity {
    margin-top: -30px;
    font-size: 25px;
}

#link {
    padding: 0px 5px 10px 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#link a {
    color: white;
}

@media screen and (orientation:landscape) and (max-width: 850px) {

    #darkMapBigText {
        width: auto;
        padding: 3px;
        font-size: 30px;
        margin-bottom: 18px !important;
    }

    .darkMapSmallText {
        font-size: 20px;
    }

    #countrySelect {
        font-size: 20px;
        width: 450px !important;
        height: 40px;
        padding: 4px 8px 4px 8px;
    }

    #countrySelectButton {
        width: 100px;
        height: 40px;
        padding: 4px 8px 4px 8px;
        margin-left: 5px;
        position: relative;
        top: -3px;
    }

    .topNav {
        height: 60px !important;
    }

    .topNav #countrySelect {
        width: 438px !important;
    }

    .topNav #arrowDown {
        display: inline-block;
        position: absolute;
        right: 9px;
        top: 14px;
    }

    #darkMap {
        padding-top: 7%;
    }

    #infoModal {
        height: 80vh;
        width: 326px;
        max-width: 326px;
        right: 5px;
        left: unset;
        top: 70px;
    }

    #closeIcon {
        margin-top: 3px;
        font-size: 20px;
    }

    #countryName {
        font-size: 30px;
        line-height: 1;
    }

    .leaflet-control-container {
        display: none;
    }

    .title {
        font-size: 24px;
    }

    #todayWeatherCard {
        margin: auto;
        float: none;
        height: 250px;
    }

    #weatherDaySeparator {
        display: block;
    }

    .weather-grid-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .weatherCard {
        height: 250px;
        float: none;
        justify-self: center;
        margin-left: 0;
        margin-right: 0;
    }

    #weatherDescription {
        font-size: 17px;
    }

    #bordering-countries {
        max-width: 80%;
        border-radius: 10px;
    }

    #bordering-countries p {
        padding-left: 5px;
    }

    #bordering-countries img {
        width: 40px;
    }

    #bordering-countries legend {
        font-size: 20px;
        padding: 0 5px 0 5px;
    }
  }



@media screen and (orientation:portrait) and (max-width: 850px) {
    #darkMapBigText {
        width: auto;
        padding: 3px;
        font-size: 30px;
    }

    .darkMapSmallText {
        font-size: 22px;
    }

    #countrySelect {
        font-size: 22px;
        width: 337px !important;
        height: 44px;
    }

    #countrySelectButton {
        width: 173px;
        height: 46px;
        font-size: 18px;
        margin-top: 5px;
        margin-left: auto;
    }

    #selectAndButton {
        position: relative;
        top: 60px;
    }

    .darkMapSmallText {
        font-size: 20px;
        position: relative;
        top: 50px;
        padding: 9px;
    }

    .topNav {
        height: 75px !important;
    }

    .topNav #selectAndButton {
        top: 0px;
        text-align: left;
        padding-left: 5px;
    }

    .topNav #countrySelect {
        font-size: 22px;
        width: calc(100% - 90px) !important;
        height: 39px;
        /* position: absolute; */
        /* left: 5px; */
        margin-right: auto;
    }

    .topNav #countrySelectButton {
        width: 75px !important;
        font-size: 12px !important;
        /* margin-top: 8px; */
        height: 39px !important;
        padding: 4px 8px 4px 8px;
        margin-left: 5px;
        /* position: absolute; */
        /* left: 260px; */
        vertical-align: bottom;
    }

    .topNav #arrowDown {
        position: relative;
        display: block;
        text-align: center;
        top: -5px;
        font-size: 25px;
    }

    .leaflet-control-container {
        display: none;
    }

    #infoModal {
        width: 95% !important;
        max-width: 95% !important;
        top:unset;
        bottom: 1vh;
        height: 49%;
        left: 2.5%;
    }

    #closeIcon {
        margin-top: 3px;
        font-size: 20px;
    }

    #countryName {
        font-size: 30px;
        line-height: 1;
        margin-bottom: 12px;
    }

    .title {
        font-size: 24px;
    }

    #todayWeatherCard {
        margin: auto;
        float: none;
        height: 250px;
    }

    #weatherDaySeparator {
        display: block;
    }

    .weather-grid-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .weatherCard {
        height: 250px;
        float: none;
        justify-self: center;
        margin-left: 0;
        margin-right: 0;
    }

    #weatherDescription {
        font-size: 17px;
    }

    #bordering-countries {
        max-width: 80%;
        border-radius: 10px;
    }

    #bordering-countries p {
        padding-left: 5px;
    }

    #bordering-countries img {
        width: 40px;
    }

    #bordering-countries legend {
        font-size: 21px;
    }
}

@media screen and (orientation:portrait) and (max-width: 320px) {
    #countrySelect {
        width: 94% !important;
    }
    .topNav #countrySelectButton {
        margin-left: 0px;
        right: 10px;
        left: unset;
        width: 62px !important;
        font-size: 10px !important;
    }
    .topNav #countrySelect {
        width: 74% !important;
    }
    #bordering-countries legend {
        font-size: 19px;
        padding: 0 6px 0 6px;
    }
}

@media screen and (orientation:landscape) and (max-width: 320px) {
    .nav #countrySelect{
        
    }  
}